<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>CreateMessage</servlet-name>
        <servlet-class>servlets.CreateMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateMessage</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisplayMessage</servlet-name>
        <servlet-class>servlets.DisplayMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayMessage</servlet-name>
        <url-pattern>/message{id}</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showCategories</servlet-name>
        <servlet-class>servlets.showCategories</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showCategories</servlet-name>
        <url-pattern>/showCategories</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showThreads</servlet-name>
        <servlet-class>servlets.showThreads</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showThreads</servlet-name>
        <url-pattern>/showThreads</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showThread</servlet-name>
        <servlet-class>servlets.showThread</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showThread</servlet-name>
        <url-pattern>/showThread</url-pattern>
    </servlet-mapping>

</web-app>
