header, footer {
    background-color: turquoise;
    color:  white;
    position: absolute;
    left: 0;
    right: 0;
}

footer {
    bottom: 0;
    font-size: x-small;
    height: 60px;
    line-height: 30px;
}

header {
    top: 0;
    height: 80px;
    line-height: 40px;
}

#header_title, #footer_title {
    padding-left: 20px;
}

