footer {
    font-size: x-small;
    height: 60px;
    line-height: 60px;
}

header {
    height: 80px;
    line-height: 80px;
}

#header_title, #footer_title {
    padding-left: 20px;
}

#create_message {
    margin-top: 100px;
}

